/** Work List styles */

.work_type-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: space-evenly;    
}
.work_type-list-entry {
    width: 150px;
    height:150px;
    margin-right: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid $RHGrey;
    &:nth-child( 6n ) { margin-right: 0; }
    img {
        width: 100%;
        display: block;
        height: auto;
    }
}
.work-popup h2 {
    font-weight: normal;
    span {
        font-weight: bold;
    }
}