/** Form styles */

input {
    font-family: $bodyFamily;
    line-height: 1.8rem;
    color: $RHDarkGrey;
}
.button-primary {
    background-color: $RHGrey;
}

.form-group {
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}


.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $RHDarkGrey;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid  $RHGrey;
    //border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &[type=checkbox] {
        width: auto;
        display: inline-block;
        margin-right: 10px;
        height: auto;
    }
}