/** Styling for the Shopping Cart */
.ck_mobile { display: none; }
.rm_mobile { display: none; }

/*.ck_fullscreen { display: block!important; }*/

.rm_fullscreen {
    //display: none;
}
.ck_fullscreen {
    //display: none;
}
